.profile .title{
    font-size: 1.5rem;
    color: var(--full-star-color);
    padding: var(--universal-padding) var(--universal-padding) 0 var(--universal-padding);
    margin-bottom: 1rem;
}
.profile .scrollable {
    overflow-y: auto;
    max-height: calc(100% - 3rem - 15px);
}
.userGames .wishlist{
    display: none;
}

.profile .scrollable {
    overflow-y: auto;
    max-height: 50vh;
}
.profile .reviewer{
    color: var(--full-star-color);
}
.profile .review p{
    
    color: var(--full-star-color);
}
.profile .games{
    justify-content: left;
    padding: 0 var(--universal-padding) 0 var(--universal-padding);
    
}
.scrollable h2{
    padding: 0 var(--universal-padding) 0 var(--universal-padding);
}


@media only screen and (max-width: 600px) {
    .games{
        justify-content: center;
    }
}
